<% content_for :title, "Task Management Apps" %>

<div class="center-container">

    <% if current_user %>
    <h1>Welcome to OwLabs, <%= current_user.username %></h1>
        <div>
            <%= link_to 'Log Out', logout_path, method: :delete, class: 'button' %>
        </div>
        <br>
        <div>
            <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'button' %>
        </div>
    <% else %>
        <h1>Welcome to OwLabs</h1>
        <div class="float-container">
            <div>
                <%= link_to 'Log In', new_session_path, class: 'button' %>
            </div>

            <div>
                <%= link_to 'Sign Up', new_user_path, class: 'button' %>
            </div>
        </div>
    <% end %>
</div>